@{
    Layout = null;
}

<h1>Multiplication Result</h1>
<p>@ViewData["MultiplicationResult"]</p>

@{
    double left = Convert.ToDouble(ViewData["Left"]);
    double right = Convert.ToDouble(ViewData["Right"]);
    double result = Math.Round((left * right),2);
}